.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

mat-form-field {
  margin-right: 12px;
}

.input-nome {
  width: 356px;
}

.input-endereco {
  width: 352px;
}

.input-datanascimento {
  width: 188px;
}

.input-bairro {
  width: 260px;
}

.input-cidade {
  width: 279px;
}

.input-estado {
  width: 80px;
}

.input-cpf {
  width: 185px;
}

.input-cep {
  width: 100px;
}

.input-telefone {
  width: 172px;
}

button.mat-raised-button.mat-primary {
  margin: 0px 10px;
} 

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}